main {
  padding: 15px;
  margin-top: 100px;
}
li {
  list-style-type: none;
}
button[type="submit"] {
  display: none;
}

button {
  background-color: orange;
}

button[disabled] {
  opacity: 0.5;
  background-color: lightgrey;
}

.barcode-container {
  display: inline-block;
  cursor: crosshair;
  position: relative;
}

.barcode-container:hover:after {
  content: "";
  left:0;
  top: 44%;
  height: 2px;
  opacity: 0.7;
  background-color: orangered;
  width: 100%;
  position: absolute;
}

.barcodes-container {
  padding-right: 300px;
}

nav {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  justify-content: space-between;
  position: fixed;
  top:0;
  background-color: white;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 15px 15px 15px;
  border-width: 0 0 1px 0;
  border-style: dotted;
  border-color: black;
}

nav label > div {
  margin: 15px;
}

nav label {
  display: flex;
  align-items: center;
}

.printout {
  background-color: #eee;
  font-family: monospace;
  color: #333;
  width: 280px;
  font-size:18px;
  padding: 15px;
  margin-bottom: 15px;
}

.printout-container {
  position: fixed;
  bottom: 0;
  right: 0;
  height: calc( 100vh - 150px);
  overflow: auto;
  padding: 15px;
}

.foo input {
  font-size: 25px;
  padding: 10px;
  color: black;
}

.bar .array-item { /* words */
  width: 33.3%;
  float: left;
}

.bar input {
  text-transform: uppercase;
}

.buttons {
  display: flex;
}

.import-export {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  justify-content: space-evenly;
}

.import-export * {
  color: #444;
  font-weight: normal;
  text-decoration: none;
  font-size: 65%;
}

.import-export *:hover {
  text-decoration: underline;
}

.import-export input {
  display: none;
}

@media print {
  nav {
    display: none;
  }
  main {
    margin: 0;
  }
}