[Unit]
Description=Future to go API
After=network.target

[Service]
ExecStart=/usr/bin/npm run api
WorkingDirectory=/home/pi/future-to-go
StandardOutput=inherit
StandardError=inherit
Restart=always
StartLimitIntervalSec=30
User=root

[Install]
WantedBy=multi-user.target
